<div *ngIf="game">
  <div class="float-right">
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Player</th>
        <th>Score</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of session.players; let i = index">
        <td>
          <fa-icon [icon]="faGamepad" *ngIf="i == session.current"></fa-icon>
          <fa-icon [icon]="faCrown" *ngIf="i == session.winner"></fa-icon>
        </td>
        <td>{{player.name}}</td>
        <td>{{player.score}}</td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-primary float-right" (click)="exit()">Exit</button>
  </div>

  <h3>Round: {{game.round}}. Wilds are {{game.round + 2}}'s</h3>
  <h3>Phase: {{this.session.current === this.game.playerIdx ? (this.session.phase === 1 ? 'Draw a card' : 'Discard a card') : 'Wait'}} {{session.winner !== null ? '(Last Turn)' : null}}</h3>

  <h4>Open:</h4>
  <div class="row">
    <app-game-card [card]="null" (click)="drawDeck()"></app-game-card>
    <app-game-card [card]="openCard" (click)="drawOpen()"></app-game-card>
  </div>

  <h4>Hand:</h4>
  <div class="row" style="border: 1px dashed black; height: 207px;"
       *ngFor="let hand of game.player.hands; let handIdx = index" [sortablejs]="hand.cards" [class.win]="isSetOrRun(handIdx)" [sortablejsOptions]="sortOptions">
    <div *ngFor="let card of hand.cards; index as cardIdx">
      <app-game-card [card]="card" [collapsed]="true" (click)="discard(handIdx, cardIdx)"></app-game-card>
    </div>
  </div>
</div>
