<div *ngIf="game">
  <div class="float-right">
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Player</th>
        <th>Score</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of session.players; let i = index">
        <td><fa-icon [icon]="faGamepad" *ngIf="i == session.current"></fa-icon></td>
        <td>{{player.name}}</td>
        <td>{{player.score}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <h3>Round: {{game.round}}. Wilds are {{game.round + 2}}'s</h3>
  <h3>Phase: {{this.session.current === this.playerIndex ? (this.session.phase === 1 ? 'Draw a card' : 'Discard a card') : 'Wait'}} {{session.winner !== null ? '(Last Turn)' : null}}</h3>

  <h4>Open:</h4>
  <div class="row">
    <app-game-card [card]="null" (click)="drawDeck()"></app-game-card>
    <app-game-card [card]="openCard" (click)="drawOpen()"></app-game-card>
  </div>

  <h4>Hand:</h4>
  <div class="row" style="border: 1px dashed black;" [class.win]="isSetOrRun()">
    <div *ngFor="let card of game.hands[playerIndex].cards; index as i">
      <app-game-card [card]="card" [collapsed]="true" (click)="discard(i)"></app-game-card>
    </div>
  </div>

  <button class="btn btn-primary" (click)="exit()">Exit</button>
</div>
