<div *ngIf="game">
  <div class="float-right">
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Player</th>
        <th>Score</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of session.players; let i = index">
        <td class="text-center player-status">
          <app-game-hourglass *ngIf="i == session.current"></app-game-hourglass>
          <fa-icon [icon]="faCrown" *ngIf="i == session.winner" style="padding-top: 5px; display: block;"></fa-icon>
        </td>
        <td>{{player.name}}</td>
        <td class="text-right">{{player.score}}</td>
      </tr>
      </tbody>
    </table>
    <p>Wilds are {{game.round + 2}}'s</p>
    <button class="btn btn-primary float-right" (click)="exit()">Exit</button>
  </div>

  <div class="row">
    <div class="player-hand rounded">
      <app-game-card [card]="null" (click)="drawDeck()"></app-game-card>
    </div>
    <div class="player-hand rounded" style="margin-left: 10px;">
      <app-game-card [card]="openCard" (click)="drawOpen()"></app-game-card>
    </div>
  </div>

  <p>{{session.current === game.playerIdx ? (session.phase === 1 ? 'Draw a card' : 'Discard a card') : 'Waiting for ' + game.players[session.current].name }} {{session.winner !== null ? ' !Last Turn!' : null}}</p>

  <div class="row">
    <div class="col-sm flex-row" *ngFor="let hand of game.player.hands; let handIdx = index">
      <div class="player-hand-score" *ngIf="hand.score(game.round) > 0">
        <div>{{hand.score(game.round)}}</div>
      </div>

      <div class="d-flex player-hand rounded" [class.run-or-set]="game.isRunOrSet(hand)" [class.has-score]="hand.score(game.round) > 0"
           [sortablejs]="hand.cards" [sortablejsOptions]="sortOptions">
        <app-game-card *ngFor="let card of hand.cards; index as cardIdx"
                       class="flex-left" [card]="card" (click)="discard(handIdx, cardIdx)">
        </app-game-card>
      </div>
    </div>
  </div>
</div>
