
.player-hand {
  padding: 5px;
  cursor: pointer;
  border: 1px dashed rgba(0, 0, 0, 0.5);
  height: 219px;
  background-color: rgba(0, 0, 0, 0.05);
  &.run-or-set {
    border-color: #9AB87A;
    background-color: rgba(154, 184, 122, 0.5);
  }
}
.player-hand-score {
  position: relative;
  width: 0;
  height: 0;
  float: right;
  div {
    position: absolute;
    top: 1px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
  }
}
