
.player-hand {
  padding: 5px;
  cursor: pointer;
  border: 1px dashed rgba(0, 0, 0, 0.5);
  height: 219px;
  background-color: rgba(0, 0, 0, 0.05);
  min-width: 100px;
  &.run-or-set {
    border-color: #9AB87A;
    background-color: rgba(154, 184, 122, 0.5);
  }
  &.has-score {
    padding-right: 50px;
  }
}
.player-hand-score {
  position: relative;
  width: 0;
  height: 0;
  float: right;
  div {
    position: absolute;
    top: 1px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
  }
}

.player-status {
  padding: 8px 0 0 12px;
}
.player-fa-icon {
  color: #512C8C;
}
.hide-if-two {
  display: none;
  &:only-of-type {
    display: block;
  }
}
