<div class="row">
  <div class="col-12">
    <h3 class="text-center">{{playerId === 0 ? 'Game Server' : 'Joined to Game Server'}}</h3>
    <div class="max-width-limit mx-auto">
      <table class="table table-hover my-table">
        <thead>
          <tr>
            <th>Players ({{session.playerIds.length}} / {{session.playerMax}})</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let playerId of session.playerIds">
            <td>{{session.playerData[playerId]?.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="max-width-limit mx-auto">
      <div class="mx-auto" style="width: max-content;">
        <button class="btn btn-primary" [class.btn-primary]="ready" [class.btn-secondary]="!ready"
                [disabled]="!ready" *ngIf="playerId === 0" (click)="start()">Start</button>
        <button class="btn btn-primary" (click)="quit()">Quit</button>
      </div>
    </div>
  </div>
</div>
