<div class="row">
  <div class="col-12">
    <div class="max-width-limit mx-auto">
      <table class="table table-hover">
        <thead>
        <tr>
          <th class="w40">Host</th>
          <th class="w30 text-center">Players</th>
          <th class="w30 text-center">Password</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let session of sessions" [class.selected]="selected?.id == session.id" (click)="select(session)">
          <td>{{session.players[0].name}}</td>
          <td class="text-center">{{session.players.length}} / {{session.maxPlayers}}</td>
          <td class="text-center">{{session.password ? 'Yes' : 'No'}}</td>
        </tr>
        <tr *ngIf="sessions.length === 0">
          <td colspan="3" class="text-center"><i>No games found</i></td>
        </tr>
        </tbody>
      </table>
      <div class="mx-auto" style="width: max-content;">
        <button class="btn btn-primary" (click)="hostGame()">Host Game</button>
        <button class="btn" [class.btn-primary]="selected" [class.btn-secondary]="!selected"
                [disabled]="!selected" (click)="joinGame(selected)">Join Game</button>
      </div>
    </div>

  </div>
</div>
