@import "font-awesome";
@import "checkbox-awesome";
@import "sticky-footer";

.game-card {
  img {
    width: 132px;
    height: 207px;
  }
  &.collapsed {
    width: 45px;
  }
}
.sortable-chosen {
  .game-card {
    width: 132px;
  }
}
