@import "font-awesome";
@import "checkbox-awesome";
@import "sticky-footer";

.game-card {
  img {
    width: 132px;
    height: 207px;
  }
  width: 45px;
  &:last-child {
    width: 132px;
  }
  &.sortable-ghost {
    width: 132px !important;
  }
}
