<div class="row">
  <div class="mx-auto">
    <table class="table my-table" style="max-width: 350px;">
      <thead>
      <tr>
        <th></th>
        <th class="border-right">Player</th>
        <th class="text-right" *ngFor="let score of session.players[0].scores; let i = index">{{wildCard(i + 1)}}</th>
        <th class="border-left">Score</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of session.players; let i = index">
        <td class="text-center player-status player-fa-icon">
          <fa-icon [icon]="faCrown" *ngIf="i == session.winner" style="padding-top: 3px; display: block;"></fa-icon>
        </td>
        <td class="border-right">{{player.name}}</td>
        <td class="text-right" *ngFor="let score of player.scores" [class.text-muted]="score === 0">{{score !== 0 ? score : '-'}}</td>
        <td class="text-right border-left">{{player.score}}</td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-primary float-right" (click)="exit()">Exit</button>
  </div>
</div>
